<mat-card-header>
    <mat-toolbar class="toolbar">
        <mat-card-title>Todo information</mat-card-title>
        <span class="toolbar-spacer"></span>
        <mat-icon (click)="onNoClick()">cancel</mat-icon>
    </mat-toolbar>
</mat-card-header>


<mat-card-content>
    <div class="container">
        <form [formGroup]="_todoForm" (submit)="onSubmit()">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Title</label>
                        <input type="text" formControlName="Title" #Title class="form-control" required minlength="5"
                            pattern="[a-zA-Z ]">
                        <div>{{Title.className}}</div>
                        <div *ngIf="_todoForm.controls['Title'].dirty">
                            <div *ngIf="_todoForm.controls['Title'].hasError('required')" class="alert-alert-danger">
                                Title is required.
                            </div>
                            <div *ngIf="_todoForm.controls['Title'].hasError('minlength')" class="alert-alert-danger">
                                Title should have at least 5 characters
                            </div>
                            <div *ngIf="_todoForm.controls['Title'].hasError('pattern')" class="alert-alert-danger">
                                Title shold be only alphabets.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Description</label>
                        <input type="text" formControlName="Description" class="form-control">
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-6">
                        <label>Due Date</label>
                        <input type="text" formControlName="DueDate" #DueDate class="form-control" required pattern='[0-9]{4}-[0-9]{2}-[0-9]{2}'>
                        <div>{{DueDate.className}}</div>
                        <div *ngIf="_todoForm.controls['DueDate'].dirty">
                            <div *ngIf="_todoForm.controls['DueDate'].hasError('required')" class="alert-alert-danger">
                                DueDate is required.
                            </div>
                            <div *ngIf="_todoForm.controls['DueDate'].hasError('pattern')" class="alert-alert-danger">
                                Pattern is YYYY-MM-DD.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Priority</label>
                        <input type="text" formControlName="Priority" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                            formControlName="Completed">
                            <mat-radio-button class="example-radio-button" *ngFor="let season of seasons"
                                [value]="season">
                                {{season}}
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>

                <div class="row">
                    <button type="submit" class="btn btn-success">
                        <mat-icon>save</mat-icon>
                    </button>
                </div>
            </div>
        </form>
    </div>
</mat-card-content>